ul {
  list-style: none;
}

li {
  position: relative;
  width: fit-content;
  text-decoration: none;
  /* -moz-user-select: none; */
}

li input[type="checkbox"] {
  opacity: 0;
  z-index: -1;
  width: 1px;
  height: 1px;
}

li label:before {
  content: "";
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  display: block;
  top: 0.35em;
  left: -0.35em;
  border: 1px solid var(--text);
  border-radius: 1em;
}

li input[type="checkbox"]:checked ~ label {
  color: var(--text-lt);
}

li input[type="checkbox"]:checked ~ label:before {
  background-color: var(--text);
}

input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px var(--background), 0 0 0 4px var(--text);
}

/* .completed > label {
} */

/* .completed::after {
  pointer-events: none;
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0.4em;
  display: flex;
  width: 100%;
  height: 0.35em;
  background: #f01c;
  animation: expand-width 200ms 1;
} */